.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  ---------------------------------------------------------------------------------------------------------- */
.main{
  text-align: center;

  font-family: serif;
}
.header,.footer{
  color: red;
  font-size: 60px;
}
.eachCity{
  border:  dotted 5px;
  border: double red;
  
}
.font{
  font-size: 50px;
}
.lit {
 
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
